body
{
	background-image: url("../img/background.png");
	width: 960px;
	margin: auto;
}
section.header1
{
	/*this is for the background of the header*/
	background-image: url("../img/companylogoBG.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin : auto;
	width: 960px;
	padding-top: 25px;
	padding-bottom: 25px;	
	/*this is for the text title*/
	font-family:"Berlin Sans FB";
	font-size: 50px;
	text-align: center;
	color: white;	
}
ul.navbar
{
	margin: 1px 1px 1px;
	width: 930px;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	background-color: #878787;
	border-style: solid;
	border-width: 15px;
	height:25px;
}
section.header2
{
	/*text pat*/
	text-align: center;
	text-transform:uppercase;
	font-style: "Arial";
	font-size: 10px;
}
	